# folders
.idea
data
models/base/
src/evaluation/helm/benchmark_output/
src/evaluation/helm/config/cache/
src/evaluation/helm/prod_env/
venv
evaluation
.gitmodules
evaluation/training_results/*/checkpoint-*/
*.pt
optimizer.pt
