datasets==3.6.0
huggingface_hub~=0.34.4
multidict==6.7.0
peft==0.12.0
psutil==7.1.3
python-dotenv==1.2.1
torch~=2.8.0
transformers==4.52.4
matplotlib
dotenv~=0.9.9
numpy~=1.26.4
seaborn~=0.13.2
pandas~=2.3.3
jupyterlab-pygments~=0.3.0
pip~=25.2
attrs~=25.4.0
zlib~=1.3.1
distro~=1.9.0
wheel~=0.45.1
pysocks~=1.7.1
protobuf~=5.29.3
openssl~=3.0.18
pillow~=11.3.0
filelock~=3.20.0