# --- basic libraries ---
torch>=2.8.0
transformers>=4.57.1
datasets>=4.1.1
tokenizers>=0.22.1
numpy>=2.0.2
pandas>=2.3.3
scikit-learn>=1.6.1
scipy>=1.13.1
tqdm>=4.67.1
pyyaml>=6.0.3
python-dotenv>=1.1.1
accelerate>=0.26.0

# --- hpc ---
fsspec>=2025.9.0
huggingface-hub>=0.35.3

